# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/
package.lock.json

# Production
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/

# Local dev notes
NOTES.md
PLAN.md
.idea/
*.swp
*.swo

# Cache
.eslintcache
.cache/
.parcel-cache/
.turbo/

# Testing
coverage/
.nyc_output/


api_response.md
address-and-file-api.md
ishtile-backend
docs